<div class="dashboard-container">
  <nav class="side-nav" [ngStyle]="{display: (toggleSidebar) ? 'flex': 'none'}">
    <div class="fund-logo" *ngIf="fund">
      <img src="{{fund.logoUrl}}"/>
    </div>

    <div class="fund-menu" *ngIf="fund">
      <div class="main-menu"
           (click)="subView = 'summary'"
           [ngStyle]="{ fontWeight: (subView == 'summary') ? 'bold': 'normal'}">
        Investor Summary
      </div>
      <div class="main-menu">
        Fund performance <span class="glyphicon glyphicon-menu-down"></span>
        <div class="sub-menu"
             *ngFor="let module of fund.modules"
             (click)="subView = module.name"
             [ngStyle]="{ fontWeight: (subView == module.name) ? 'bold': 'normal'}">
          {{module.name}}
        </div>
      </div>
      <div class="main-menu">
        Highlighted portfolio <span class="glyphicon glyphicon-menu-down"></span>
        <div class="sub-menu">Alibaba</div>
        <div class="sub-menu">Talkang Insurance</div>
        <div class="sub-menu">GME Asset</div>
      </div>
      <div class="main-menu">
        File Manager <span class="glyphicon glyphicon-menu-down"></span>
        <div class="sub-menu">Tax center</div>
        <div class="sub-menu">Other document</div>
      </div>
    </div>

  </nav>

  <div class="dashboard-content">
    <nav class="top-nav">
      <div>
        <span class="glyphicon glyphicon-align-justify" (click)="toggleSidebar = !toggleSidebar"></span>
      </div>
    </nav>

    <app-investor-summary *ngIf="subView=='summary' && fund" fund-id="{{fund.id}}"></app-investor-summary>
  </div>
</div>
