<div class="content" role="main" xmlns="http://www.w3.org/1999/html">

  <!-- logo -->
  <div class="card-container">
    <div><img src="assets/investor_logo.png"></div>
  </div>

  <!-- input section -->
  <div class="card-container">
    <div class="flex-container">
      <div><input type="email" id="inputEmail" [(ngModel)]="inputEmail" placeholder="Email"/></div>
      <div><input type="password" id="inputPassword" [(ngModel)]="inputPassword" placeholder="Password"/></div>
    </div>
  </div>

  <!-- buttons section -->
  <div class="card-container">
    <div class="flex-container">
      <div class="flex-item-left"><a>FORGET PASSWORD?</a></div>
      <div class="flex-item-right">
        <input type="button" class="btn btn-primary"
               routerLink="/funds"
               routerLinkActive="active"
               [disabled]="!(inputPassword && inputPassword)"
               value="LOGIN"
        />
      </div>
    </div>
  </div>

  <!-- Footer -->
  <footer>
    <div class="flex-container">
      <div class="flex-item-left"><span>Powered By</span> <img src="assets/company_logo.png"></div>
      <div class="flex-item-right">Contact Us | Terms of User | Privacy Policy</div>
    </div>
  </footer>

</div>
