<div class="performance-container">
  <!-- filter -->
  <div class="performance-title-bar" *ngIf="investor">
    <div>Fund performance: {{investor.abbrev}} {{fundName}}</div>
  </div>

  <!-- dashboard -->
  <div class="performance-dashboard-content">
    <!-- graph -->
    <div class="flex-item-left">
      <div>
        <div class="flex-item-left">Deal allocation (number of assets)</div>
        <div class="flex-item-right"></div>
      </div>

      <div></div>
    </div>

    <!-- aggregated view -->
    <div class="flex-item-right">
      <div>Investments by quarter</div>
      <div></div>
    </div>
  </div>

  <!-- table -->
  <div class="performance-table-content">
    <div>
      <div>Portfolio summary</div>
      <div>Realization and Portfolio Summary in USD Million unless otherwise started</div>
    </div>
    <div>
      <table class="fund-table" *ngIf="fundDetail">
        <tr>
          <th>Name</th>
          <th>Initial investment</th>
          <th>Main industry</th>
          <th>Commit/Reserves</th>
          <th>Current ownership</th>
          <th>Total Investment cost</th>
          <th>Current Investment cost</th>
          <th>Realized</th>
          <th>Fair market value</th>
          <th>Total value</th>
          <th>Multiples of cost</th>
          <th>Gross IRR</th>
          <th></th>
        </tr>
        <tr *ngFor="let portfolio of fundDetail.portfolios">
          <td>{{portfolio.name}}</td>
          <td>{{portfolio.initialInvestment}}</td>
          <td>{{portfolio.mainIndustry}}</td>
          <td>{{portfolio.commitReserves}}</td>
          <td>{{portfolio.currentOwnership}}</td>
          <td>{{portfolio.totalInvestmentCost}}</td>
          <td>{{portfolio.currentInvestmentCost}}</td>
          <td>{{portfolio.realized}}</td>
          <td>{{portfolio.fairMarketValue}}</td>
          <td>{{portfolio.totalValue}}</td>
          <td>{{portfolio.multiplesOfCost}}</td>
          <td>{{portfolio.grossIrr}}</td>
        </tr>
      </table>
    </div>
  </div>
</div>
