.toolbar {
  top: 0;
  left: 0;
  right: 0;
  height: 120px;
  display: flex;
  align-items: flex-end;
  background-color: #f2f2f2;
  font-weight: 600;
  margin-bottom: 50px;

  .headline {
    height: 60px;
    background-color: #fafafa;
    width: 100%;
    line-height: 60px;
    padding-left: 10%;
    font-size: 1.5em;
  }
}


.card-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .card {
    border-radius: 4px;
    border: 1px solid #eee;
    background-color: #fafafa;
    width: 600px;
    margin: 0 8px 16px;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    line-height: 24px;

    .flex-item-left {
      flex: 120px;
      margin-left: 10%;

      img {
        width: 100px;
      }
    }

    .flex-item-right {
      flex: 90%;
      margin-left: 5%;
      text-align: start;
      align-self: flex-start;

      .fund-name {
        font-size: 1.5em;
        padding-bottom: 10px;
      }

      .fund-module {
        font-size: 0.9em;
        display: flex;
        width: 100%;
        padding-bottom: 8px;

        .flex-item-left {
          margin-left: 0;
          flex: 100px;
          width: 100px;
          border-radius: 4px;
          color: #3366ff;
          padding: 2px 15px;
        }

        .flex-item-right {
          flex: 100%;
          margin-left: 5%;
          text-align: start;
          align-self: flex-start;
        }
      }
    }
  }
}
