<div class="toolbar">
  <div class="headline">
    <span>Welcome to Asia Alternatives to Quantium Investor Portal</span>
  </div>
</div>

<div class="card-container">
  <div class="card flex-container" *ngFor="let fund of funds"
       routerLink="/dashboard/{{fund.id}}"
       routerLinkActive="active">
    <div class="flex-item-left">
      <img src="{{fund.logoUrl}}"/>
    </div>
    <div class="flex-item-right">
      <div class="fund-name">{{fund.name}}</div>
      <div class="fund-module" *ngFor="let data of fund.summaryData">
        <div class="flex-item-left"
             [ngStyle]="{'background-color': (data.type=='Reporting') ? '#e6f7ff' : '#ccffe6'}">
          {{data.type}}
        </div>
        <div class="flex-item-right">{{data.description}}</div>
      </div>
    </div>
  </div>
</div>
